<a href="https://colab.research.google.com/github/nt189/Valores-nulos/blob/main/Actividad%203.1(Valores%20Nulos)/Actividad_3_1_(Valores_nulos).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [61]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [62]:
# importamos el archivo csv
df = pd.read_csv('Ventas_totales.csv')
df.head()

,indice_tiempo,ventas_precios_corrientes,ventas_precios_constantes,ventas_totales_canal_venta,salon_ventas,canales_on_line,ventas_totales_medio_pago,efectivo,tarjetas_debito,tarjetas_credito,...,almacen,panaderia,lacteos,carnes,verduleria_fruteria,alimentos_preparados_rotiseria,articulos_limpieza_perfumeria,indumentaria_calzado_textiles_hogar,electronicos_articulos_hogar,otros
0,01/01/2017,27858.9,27477.3,27858872.08,27591730.13,267141.956,27858872.08,1.023010e+07,6864575.384,9047205.493,...,6705475.318,9.459063e+05,2880656.169,2606192.942,1.050314e+06,340777.3882,4397543.671,772371.8476,1838507.096,2806660.309
1,01/02/2017,25994.2,25223.4,25994200.17,25749179.40,245020.769,25994200.17,9.719067e+06,6438494.011,8309150.301,...,6576624.803,9.256186e+05,2855639.900,2600083.591,1.026167e+06,328288.6951,4053283.771,672290.5165,1257661.903,2354084.901
2,01/03/2017,27780.0,26334.3,27780006.52,27472228.72,307777.804,27780006.52,1.024444e+07,6908522.962,8845010.494,...,7437264.174,1.016148e+06,3188259.169,2824976.726,1.075526e+06,353335.1548,4354197.611,667696.6653,1305674.917,2266189.277
3,01/04/2017,29134.3,27045.9,29134272.22,28827479.49,306792.733,29134272.22,1.031263e+07,7454251.800,9458166.682,...,8211244.093,1.132396e+06,3257140.159,3006158.760,1.037213e+06,359694.4537,4355706.646,838948.2458,1535726.345,2146755.887
4,01/05/2017,27969.0,25631.9,27969004.68,27569311.41,399693.262,27969004.68,1.014761e+07,6735747.319,9220929.862,...,7651058.084,1.033082e+06,3232635.767,2799142.123,9.826512e+05,336568.0085,4206101.605,915895.1498,1824462.036,2117971.483

In [63]:
# Identificar valores nulos por columan: Se utilizara para ver con que columnas vamos a trabajar
valores_nulos = df.isnull().sum()
# Hacemos una copia del csv
df1 = df.copy()

valores_nulos

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            6
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         1
tarjetas_credito                        7
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

In [64]:
# Sustituir valores nulos con promedio o media
#
df1['tarjetas_debito'] = df1['tarjetas_debito'].fillna(round(df['tarjetas_debito'].mean(),1))
df1['otros_medios'] = df1['otros_medios'].fillna(round(df['otros_medios'].mean(),1))
df1['bebidas'] = df1['bebidas'].fillna(round(df['bebidas'].mean(),1))
df1['almacen'] = df1['almacen'].fillna(round(df['almacen'].mean(),1))
df1['panaderia'] = df1['panaderia'].fillna(round(df['panaderia'].mean(),1))
df1['lacteos'] = df1['lacteos'].fillna(round(df['lacteos'].mean(),1))
df1['carnes'] = df1['carnes'].fillna(round(df['carnes'].mean(),1))
df1['verduleria_fruteria'] = df1['verduleria_fruteria'].fillna(round(df['verduleria_fruteria'].mean(),1))
df1['alimentos_preparados_rotiseria'] = df1['alimentos_preparados_rotiseria'].fillna(round(df['alimentos_preparados_rotiseria'].mean(),1))

df1.to_csv('Columnas_un_nulo_metodo_promedio.csv', index=False)

valores_nulos = df1.isnull().sum()
valores_nulos

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            6
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         0
tarjetas_credito                        7
otros_medios                            0
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 0
almacen                                 0
panaderia                               0
lacteos                                 0
carnes                                  0
verduleria_fruteria                     0
alimentos_preparados_rotiseria          0
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

In [65]:
# Sustitucion de valores nulos con mediana
df1['subtotal_ventas_alimentos_bebidas'] = df1['subtotal_ventas_alimentos_bebidas'].fillna(round(df['subtotal_ventas_alimentos_bebidas'].median(),1))
df1['salon_ventas'] = df1['salon_ventas'].fillna(round(df['salon_ventas'].median(),1))
df1['tarjetas_credito'] = df1['tarjetas_credito'].fillna(round(df['tarjetas_credito'].median(),1))

df1.to_csv('Columnas_epaciosgrandes_nulo_metodo_mediana.csv', index=False)

valores_nulos = df1.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [66]:
# Susutitucion por un valor numerico en concreto. se agarro un numero aleatorio de la columna para insertarlo
df1['indumentaria_calzado_textiles_hogar'] = df1['indumentaria_calzado_textiles_hogar'].fillna(964553.3924)

df1.to_csv('Columnas_par_nulos_metodo_numerico.csv', index=False)

valores_nulos = df1.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    0
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [67]:
# Sustitucion valores nulos por valores no nulos hacia adelante 'forward fill' ('ffill'), hay valores entre nulos uno y otro
df1['otros'] = df1['otros'].fillna(method = 'ffill')

df1.to_csv('Columnas_uno_si_uno_no_nulos_hacia_adelante.csv', index=False)

valores_nulos = df1.isnull().sum()
valores_nulos

<ipython-input-67-607b724eb519>:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1['otros'] = df1['otros'].fillna(method = 'ffill')

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    0
electronicos_articulos_hogar           3
otros                                  0
dtype: int64

In [68]:
# Sustitucion valores nulos por valores no nulos hacia atrás backward fill ("bfill"). hay valores nulos entre uno y otro
df1['electronicos_articulos_hogar'] = df1['electronicos_articulos_hogar'].fillna(method = 'ffill')

df1.to_csv('Columnas_uno_si_uno_no_nulos_hacia_atras.csv', index=False)

valores_nulos = df1.isnull().sum()
valores_nulos

<ipython-input-68-a745f42000eb>:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1['electronicos_articulos_hogar'] = df1['electronicos_articulos_hogar'].fillna(method = 'ffill')

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    0
electronicos_articulos_hogar           0
otros                                  0
dtype: int64

In [69]:
df2 = df.copy()

valores_nulos = df2.isnull().sum()
valores_nulos

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            6
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         1
tarjetas_credito                        7
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

In [70]:
# Eliminamos filas con nulos
# No se agrega para eliminar filas
df3 = df2.dropna()
df3

df3.to_csv('Columnas_filas_con_nulos_eliminados.csv', index=False)

valores_nulos = df3.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    0
electronicos_articulos_hogar           0
otros                                  0
dtype: int64